body {margin:0;padding:0;overflow-x:hidden;}
div {margin:0;padding:0}

a:link {color:color:#E23C41; text-decoration: none;}      /* unvisited link */
a:visited {color:color:#E23C41; text-decoration: none;}  /* visited link */
a:hover {color:color:#E23C41; text-decoration: none; font-weight: bold;}  /* mouse over link */
a:active {color:color:#E23C41; text-decoration: none;}  /* selected link */

* img {border:none}

span.HtmlOutputTextResposta{
	font-size: 10px;
	font-family: 'Verdana';
	font-weight: bold;
	margin-left: 5px;
	color:#000000;
}

label {
	font-size: 11px;
	font-family: 'Verdana';
	color: #000000;
	font-weight: normal;
}

input, textarea {
	font-size: 11px !important;
	font-family: 'Verdana' !important;
	color: #000000 !important;
	font-weight: normal !important;
}

#header {
	background-image: url("../images/fundo_cinza.png");/**/
	background-repeat:repeat-x;	/**/
}

#formMenu {
	border:0;
	margin:0;
	padding:0
}

#user_title {
	font-family: 'Verdana';
	font-size: 12px;
	font-weight: bold;
}

#main_body {
	width: 100%;
}

#body_content {
	width: 98%;
}

.ui-growl {
	top: 155px;
}

.portal_titulo {
	font-size: 20px;
	font-family: 'Verdana';
	
	font-weight: bold;
}

.dataTable {
	width: 100%;
}

.buttonFooter {
	width: 100%;
	margin-top: 10px;
	text-align: right;
}

.buttonFilter {
	width: 100%;
	margin-top: 5px;
	text-align: right;
}

.lin
{
    FONT-WEIGHT: bold;
    margin-top: 5px;
    FONT-SIZE: 1px;
    COLOR: #C6C6CB;
    FONT-FAMILY: Verdana
}

.panelGroup
{
	width:200px;
}
